@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

html {
  scroll-behavior: smooth;
}
body {
  font-family: var.$font-family-base;
  background-color: var.$background-color-base;
  color: var.$text-color-base;
}

::selection {
  background-color: var.$background-color-secondary;
  color: var.$text-color-secondary;
  text-shadow: none;
}

a {
  color: var.$text-color-base;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: var.$font-weight-bold;
}

h1 {
  font-size: var.$font-size-h1;
}
h2 {
  font-size: var.$font-size-h2;
}
h3 {
  font-size: var.$font-size-h3;
}
h4 {
  font-size: var.$font-size-h4;
}

@include mix.tablet-styles-down {
  h1 {
    font-size: calc(var.$font-size-h1 / 2);
  }
  h2 {
    font-size: calc(var.$font-size-h2 / 2);
  }
  h3 {
    font-size: calc(var.$font-size-h3 / 2);
  }
  h4 {
    font-size: calc(var.$font-size-h4 / 2);
  }
}

//==== link hover effect ====
.link {
  text-decoration: none !important;
  position: relative !important;
}
.link::before {
  content: "" !important;
  position: absolute !important;
  width: 100% !important;
  bottom: 0 !important;
  left: 0 !important;
  height: 1px !important;
  border-radius: 3px !important;
  background-color: #ffffff !important;
  transform-origin: right !important;
  transform: scaleX(0) !important;
  transition: transform 0.2s ease-in-out !important;
}

.link:hover::before {
  transform-origin: left !important;
  transform: scaleX(1) !important;
}
//================================

.titleSectionBg {
  background-image: linear-gradient(to bottom, #00000000 90%, #000000 100%),
    url("../../assets/img1.jpg") !important;
}

.aboutSectionBg {
  background: linear-gradient(#00000000, #000000), url("../../assets/img2.jpg") !important;
}
.launchesSectionBg {
  background: linear-gradient(#000000, #00000067), url("../../assets/img3.jpg") !important;
}
.starstopBg {
  background: linear-gradient(#00000075, #000000d8), url("../../assets/img5.jpg") !important;
}
.starsbottomBg {
  background: linear-gradient(#000000, #00000067), url("../../assets/img5.jpg") !important;
}
.moonBg {
  background: linear-gradient(#000000, #00000067), url("../../assets/img6.jpg") !important;
}