@use "../../../../styles/abstracts/variables" as var;
@use "../../../../styles/abstracts/mixins" as mix;
@use "sass:math";

.heading {
  position: absolute;
  top: 50%;
  text-shadow: 1px 5px 2px rgba(0, 0, 0, 0.5);
  h4 {
    padding-top: 15px;
  }
}

.left {
  left: 120px;
  text-align: left;
  @include mix.tablet-styles-down {
    left: 10px;
  }
}

.right {
  right: 120px;
  top: 65%;
  text-align: right;
  @include mix.tablet-styles-down {
    right: 10px;
  }
}

.center {
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
