@use "../../../../styles/abstracts/variables" as var;
@use "../../../../styles/abstracts/mixins" as mix;
@use "sass:math";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var.$background-color-op50 !important;
  z-index: 1000;
  li{
    background-color: transparent !important;
  }
}
.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  background-color: transparent !important;
  letter-spacing: var.$letter-spacing-links;
  }
  .drawer {
    display: flex;
    }
    .menuMobile {
  letter-spacing: var.$letter-spacing-links;
  background-color: transparent !important;
}

.burgerMenubutton {
  display: none !important;
}

.mobileMenuButton {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: none !important;
  }
  .burgerMenu {
    display: inline-block;
  }
}

.burgerMenu {
  @include mix.tablet-styles-up {
    display: none !important;
  }
}


