.contentStyle{
    margin: 0;
    height: 160px;
    color: #fff;
    background: '#364d79';
}

.carousel{
    height: 100%;
    width: 50%;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}