.launches {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .loading{
    height: 100px !important;
  }
  