@use "../../../../styles/abstracts/variables" as var;
@use "../../../../styles/abstracts/mixins" as mix;
@use "sass:math";

.navbarMenu {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: var.$background-color-base !important;
}

.menu {
  background-color: var.$background-color-base !important;
}

.section {
  position: relative;
  padding: 80px 50px 0px 50px;
  height: 100vh;
  @include mix.mobile-m-styles {
    padding: 80px 20px 0px 20px;
  }
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
