@use "../../../../styles/abstracts/variables" as var;
@use "../../../../styles/abstracts/mixins" as mix;
@use "sass:math";

.navbarMenu {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: var.$background-color-base !important;
}

.menu {
  background-color: var.$background-color-base !important;
}

.section {
  position: relative;
  padding: 50px 120px;
  
  @include mix.tablet-styles-down {
    padding: 50px 10px !important;
  }
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
