@use "../../../../styles/abstracts/mixins" as mix;

.contentStyle {
  margin: 0;
  height: 160px;
  color: #fff;
  background: "#364d79";
}

.carousel {
  height: 500px !important;
  @include mix.mobile-l-styles {
    height: 300px !important;
  }
  img {
    height: 500px !important;
    @include mix.mobile-l-styles {
      height: 300px !important;
    }
    height: 100%;
    width: 100%;
  }
}
